*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --primary : #f45dd1;
    --secundary : #FFCBDB;
    --tertiary : #40E0D0;
    --quaternary : #8141AF;
    --quinary : #E32636;
    --black : #000000;
    --white : #ffffff; 
}

body{
    background-color: var(--white);
    width: 100%;
}
/** header section **/

.container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    background-color: var(--primary);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    row-gap: 10dvh;
    overflow: hidden;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

.container > header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    grid-area: header;
    animation: fixear ease-out both;
    animation-timeline: scroll(root y);
    animation-range: 0 100dvh;

    & #portada{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "imagen-portada"
            "social-medias"
        ;
        animation: navbar ease-out both;
        animation-timeline: scroll(root y);
        animation-range: 0 100dvh;

        & .img-portada{
            width: 100%;
            height: 100%;
            grid-area: imagen-portada;
            animation: cant-see ease-out both;
            animation-timeline: scroll(root y);
            animation-range: 0 100dvh;

            & img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        
        & .img-navbar{
            width: 100%;
            height: 100%;
            background-color: var(--primary);
            animation: can-see ease-out both;
            animation-timeline: scroll(root y);
            animation-range: 0 100dvh;
            opacity: 0;
            & img{
                width: 100%;
                height: 100%;
                object-fit: fil;
            }
        }

        & .social-medias{
            grid-area: social-medias;
            width: 100%;
            height: 100%;
            background-color: var(--primary);    
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            & span{
                width: 50%;
                height: 100%;
                justify-content: center;
                font-size: 1rem;
                display: flex;
                align-items: center;
            }

            & ul{
                display: flex;
                width: 50%;
                height: 100%;
                justify-content: space-around;
                align-items: center;
                column-gap: 1%;
                list-style: none;

                & li{
                    height: 100%;
                    width: 20%;
                    display: flex;
                    align-items: center;

                    & a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;

                        & img{
                            width: 90%;
                            height: 90%;
                            object-fit: fill;
                            box-shadow: 3px 1px 3px var(--white);
                            border-radius: 100%;
                            animation: scale-img ease-out 5s infinite;
                        }
                    }
                }
            }
        }
    }
}

/*main section*/

.container > main{
    width: 100%;
    grid-area: main;
    background-color: var(--white);
    padding: 110dvh 2rem 2rem 2rem; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,300px),1fr));
    grid-auto-rows: minmax(300px,100dvh);
    gap: 20px; 
    box-sizing: border-box;
    
}

.card:nth-child(even){

    & .card-title{
        color: var(--quinary);
        text-align: center;
        height: 10%;
    }

    & .card-content{
        & .card-content-images{
            flex-direction: row-reverse;
            
            & img{
                border-radius: 0 20px 20px 0;
            }

            & .card-content-images-cols{
                & img:nth-child(1){
                    border-radius: 20px 0 0 0;
                }

                & img:nth-child(2){
                    border-radius: 0 0 0 20px;
                }
            }
        }
    }
}

.card{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;

    & .card-title{
        color: var(--quaternary);
        text-align: center;
        height: 10%;
    }
    
    & .card-content{
        width: 100%;
        height: 90%;
        position: relative;
        
        & .card-content-images{
            width: 100%;
            height: 100%;
            display: flex;
            border-radius: 20px;
            border: 2px solid var(--black);

            & img{
                border-radius: 20px 0 0 20px;
                width: 50%;
                height: 100%;
                object-fit: cover;
            }

            
            & .card-content-images-cols{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                & img{
                    width: 100%;
                    height: 50%;
                }

                & img:nth-child(1){
                    border-radius: 0px 20px 0 0;
                }

                & img:nth-child(2){
                    border-radius: 0px 0 20px 0;
                }
            }
        }
        
        & .card-content-button{
            display:flex;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto auto;
            width: 25%;
            height: 25%;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            font-size: 100%;
            padding: 10px;
            text-decoration: none;
            font-weight: 900;
            text-shadow: 1px 1px 1px var(--black);
            color: var(--primary);
            border: 2px dashed var(--quaternary);
        }
    }
}

/*footer section*/
.container > footer{
    width: 100%;
    background-color: var(--quinary);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,500px),1fr));
    grid-auto-rows: minmax(200px,5dvh);
    gap: 20px; 
    box-sizing: border-box;
    grid-area: footer;
}

.ubication{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;

    & h3{
        min-width: 250px;
        flex-basis: 40%;
        color: var(--secundary);
        text-shadow: 2px 1px 1px var(--black);
    }

    & iframe{
        min-width: 250px;
        flex-basis: 60%;
        height: 100%;
        border-radius: 10px;
    }
}

/* animation area */
@keyframes scale-img {
    0%{
        scale: .8;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: .8;
    }
}

@keyframes fixear{
    100%{
        
        height: 10dvh;
        z-index: 10;
    }
}

@keyframes navbar {
    90%{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas: 
            "imagen-portada"
            "social-medias"
        ;
    }
    100%{
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 
            "logo social-medias social-medias social-medias"
        ;
    }
}

@keyframes cant-see {
    0%{
        display: block;
    }
    90%{
        display: none;
    }
    100%{
        display: none;
    }
}

@keyframes can-see {
    0%{
        display: none;
    }
    99%{
        display: none;
    }
    100%{
        display: flex;
        grid-area: logo;
        opacity: 1;
    }
}